#divfirst {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 500;
    padding-right: 500;
}

.butons{
    position: absolute;
    top: 55%;
    left: 35%;
    
}

img {
    position: absolute;
    top: 29%;
    left: 37%;
}